<div class="container">
  <h3>audit-title</h3>
  <div class="row question-card">
    <div class="col col-6 sm-col-12">
      <h2>{{model.name}}</h2>
    </div>
    <div class="col col-6 sm-col-12 center">
      <img class="who-logo" src="assets/images/who-logo.gif" alt="who-logo">
    </div>
    <div class="col col-12">
      <p>{{model.description}}</p>
    </div>
  </div>
</div>
