<div class="container" {{action 'openAudit'}}>

  <div>{{title}}</div>
  <div>Last edit: {{lastEdit}}</div>
  {{#if complete}}
    <div>Complete</div>
  {{else}}
    <div>In progress</div>
  {{/if}}

</div>