<div class="row card-description">
  <div class="col col-6 sm-col-12 center">
    <img class="who-logo" src="assets/images/who-logo.gif" alt="">
  </div>

  <div class="col col-6 sm-col-12">
    <p class="description">{{{model.description}}}</p>
  </div>

</div>
