<div class="card-history" {{action 'openAudit'}}>
  <p class="history-title">{{title}}</p>
  <p class="history-last-edit">Last edit: {{lastEdit}}</p>
  {{#if complete}}
    <p class="history-status-complete">Complete</p>
  {{else}}
    <p class="history-status-incomplete">Incomplete</p>
  {{/if}}

</div>
