<div class="row question-card">
  <div class="col col-6 sm-col-12">
    <h3>Editor's Top Pick</h3>
    <h2>World Health Organisation Surgical Safety Checklist</h2>
  </div>
  <div class="col col-6 sm-col-12 center">
    <img class="who-logo" src="assets/images/who-logo.gif" alt="who-logo">
  </div>
  <div class="col col-12">
    <p>The WHO Surgical Safety Checklist was developed after extensive consultation aiming to decrease errors and adverse events, and increase teamwork and communication in surgery.</p>
    <p>The 19-item checklist has gone on to show signiﬁcant reduction in both morbidity and mortality and is now used by a majority of surgical providers around the world.</p>
  </div>
</div>
