<header>
  <div class="row">
    <div class="col col-9">
      <h1 class="heading">{{model.title}}</h1>
    </div>
    <div class="col col-3 right ">
    {{#if showHistoryButton}}
      <h1 class="history flex-column flex-center" {{action "showSavedAudits"}}> History</h1>
    {{/if}}
    </div>
  </div>
</header>
